@{
    ViewBag.Title = "EUI NOTES";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p><br>Aplicación de soporte a la gestión de los sistemas de información académica de asignaturas</br>
<br><b>Versión:</b> 2.0 </br>
<br><b>Autor:</b> Confidencial</br>
<br><b>Tutora:</b> Tutor</br>
</p>
