@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    UPM: Escuela Técnica Superior de Ingeniería Informática<br />
    Campus Sur UPM, Carretera Valencia km. 7 28031, Madrid<br />
    <abbr title="Phone">91 336 77 80</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@upm.com">Support@upm.com</a><br />
    <strong>Developrt:</strong> <a href="mailto:bk0072bk0604@gmail.com">bk0072bk0604@gmail.com</a>
</address>